version: "3.9"

services:
  web:
    build: .
    container_name: restaurant_web
    command: >
      sh -c "
             until pg_isready -h db -p 5432;
             do echo 'AÈ™tept PostgreSQL...'; sleep 1; done &&
             python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             gunicorn restaurant_app.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: restaurant_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    restart: always

volumes:
  postgres_data:
